<div class="row-fluid">
	<div class="span12">
		<div class="widget-box">
			<div class="widget-title">
				<span class="icon">
					<i class="icon-align-justify"></i>
				</span>
				<h5><%= title %></h5>
			</div>
			<div class="widget-content nopadding">
				<form action="/admin/doAddTags" method="post" class="form-horizontal">
					<div class="control-group">
						<label class="control-label">tags关键词 :</label>
						<div class="controls">
							<input type="text" name="keyword" class="span11" placeholder="keyword" />
						</div>
					</div>
					<input type='hidden' name='_csrf' id="_csrf" value='<%= csrf %>' />
					<div class="form-actions">
						<button type="submit" class="btn btn-success">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


