<div class="row-fluid">
	<div class="span12">
		<div class="widget-box">
			<div class="widget-title">
				<span class="icon">
					<i class="icon-align-justify"></i>
				</span>
				<h5><%= title %></h5>
			</div>
            <div class="widget-content nopadding">
                <form action="/admin/doChangPassword" method="post" class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label">旧密码 :</label>
                        <div class="controls">
                            <input type="password" value="" name="oldPassword" class="span11" />
                        </div>
                    </div>
                    <div class="control-group" id="oneClass">
                        <label class="control-label">新密码 :</label>
                        <div class="controls">
                            <input type="password" value="" name="password" class="span11" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">确认密码:</label>
                        <div class="controls">
                            <input type="password" value="" name="rePassword" class="span11" />
                        </div>
                    </div>
                    <input type='hidden' name='_csrf' id="_csrf" value='<%= csrf %>' />
                    <div class="form-actions">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </form>
            </div>
		</div>
	</div>
</div>


