<div class="widget-box">
    <div class="widget-title">
        <span class="icon"> 
            <i class="icon-th"></i> 
        </span>
        <h5><%= title %></h5>
    </div>
    <div class="widget-content nopadding">
        <table class="table table-bordered table-striped with-check">
            <thead>
                <tr>
                    <th>
                        <i class="icon-resize-vertical"></i>
                    </th>
                    <th colspan="2">一级分类</th>
                    <!-- <th>二级分类</th> -->
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <% posts.forEach(function(post, index) { %>
                <tr>
                    <td rowspan="<%= post.subClassify.length+1 %>">
                        <%= index+1 %>
                    </td>
                    <td colspan="2">
                        <strong style="color:#000;font-size:14px;"><%= post.classify %></strong>
                    </td>
                    <td class="center">
                        <a href="/admin/doRemoveClass?classId=<%= post._id %>" onclick="delcfm()" class="btn btn-danger">删除</a>
                        <a href="/admin/updateClass?classId=<%= post._id %>" class="btn btn-info">编辑</a>
                    </td>
                </tr>
                <% for(var i=0; i<post.subClassify.length;i++) { %>
                    <tr class="warning" style="font-weight:bold;">
                        <td>
                            <%= i+1 %>
                        </td>
                        <td><%= post.subClassify[i].subName %></td>
                        <td>
                            <a href="/admin/doRemoveClass?classId=<%= post._id %>&subClass=<%= post.subClassify[i]._id %>" onclick="delcfm()" class="btn btn-danger">删除</a>
                        </td>
                    </tr>
                <% } %>
                <% }) %>
            </tbody>
        </table>
    </div>
    <!-- 分页 -->
    <div class="dataTables_wrapper">
        <div class="fg-toolbar ui-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix" id="pager">
            <!-- 分页内容 -->
        </div>
    </div>
</div>

<script type="text/javascript">


</script>
