<!-- 配置文件 -->
<script type="text/javascript" src="ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="ueditor/ueditor.all.js"></script>
<!-- 语言包文件(建议手动加载语言包，避免在ie下，因为加载语言失败导致编辑器加载失败) -->
<script type="text/javascript" src="ueditor/lang/zh-cn/zh-cn.js"></script>

<div class="row-fluid">
	<div class="span12">
		<div class="widget-box">
			<div class="widget-title">
				<span class="icon">
					<i class="icon-align-justify"></i>
				</span>
				<h5>添加文章</h5>
			</div>
			<div class="widget-content nopadding">
				<form class="form-horizontal" method="post" enctype="multipart/form-data" action="/admin/doUpload" id="form1">
					<div class="control-group">
						<label class="control-label">文章图片:</label>
						<div class="controls">
							<input type="file" name="imgFile" />
							<input type="submit" value="确定上传" />
							<span class="help-block" style="color:green" id="s_tip">上传图片</span>
						</div>
					</div>
					<input type='hidden' name='_csrf' id="_csrf" value='<%= csrf %>' />
				</form>
				<form action="/admin/editUpdate?artId=<%= posts._id %>" method="post" class="form-horizontal">
					<!-- 图片地址 -->
					<input type="hidden" name="imgUrl" id="imgUrl" value="<%= posts.imgUrl %>" />
					<!-- end -->
					<div class="control-group">
						<label class="control-label">博文标题 :</label>
						<div class="controls">
							<input type="text" name="title" class="span11" placeholder="title" value="<%= posts.title %>" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">关键字 :</label>
						<div class="controls">
							<input type="text" name="keywords" class="span11" placeholder="关键字"  value="<%= posts.keywords %>" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">页面描述 ：</label>
						<div class="controls">
							<input type="text" name="description" class="span11" placeholder="页面描述" value="<%= posts.description %>" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">发布者 :</label>
						<div class="controls">
							<input type="text" name="author" class="span11" placeholder="发布者" value="<%= posts.author %>" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">文章分类 :</label>
						<div class="controls">
							<select name="classify" id="typeid" style="width:240px" data-val="<%= posts.classify %>">
					       		<option value="0">请选择分类...</option>
					       		<% subClass.forEach(function(post, index) { %>
						        	<option value="<%= post.classify %>"><%= post.classify %></option>
							       		<% for(var i=0; i < post.subClassify.length; i++) { %>
											<option value="<%= post.subClassify[i].subName %>">&nbsp;&nbsp;&nbsp;&nbsp;--><%= post.subClassify[i].subName %></option>
							        	<% } %>
					        	<% }) %>
					       </select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">已选中tags :</label>
						<div class="controls">
							<% if(posts.tags!=""){ %>
								<% posts.tags.split(",").forEach(function(checkTags) { %>
									<input type="checkbox" class="vm" name="tags" checked="checked" value="<%= checkTags %>">
									<b class="checkbox_txt"><%= checkTags %></b>
								<% }) %>
							<% }else{ %>
								<b>此文章暂无tag，请选择tag</b>
							<% } %>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">未选择tag :</label>
						<div class="controls">
							<% tags.forEach(function(tagposts){ %>
								<input type="checkbox" class="vm" name="tags" value="<%= tagposts %>">
								<b class="checkbox_txt"><%= tagposts %></b>
							<% }) %>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">主要内容</label>
						<div class="controls">
							<textarea style="height:500px;" name="Content" class="span11" id="container" rows="20"><%= posts.Content %></textarea>
						</div>
					</div>
					<div class="form-actions">
						<button type="submit" class="btn btn-success">Save</button>
					</div>
					<input type='hidden' name='_csrf' id="_csrf" value='<%= csrf %>' />
				</form>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	// var location="http://localhost:3000/admin/"
	//启动编辑器
    var editor = UE.getEditor('container')

	$(function(){
		$("#form1").submit(function(){
			var formdata = new FormData(this);  
			$.ajax({
				type:'post',
				url : '/admin/doUpload',
				data : formdata,
				contentType: false,
				processData: false

			}).done(function(data){
				// console.log(data);
				$("#imgUrl").val(data.Url);
				$("#s_tip").html("上传成功");

			}).fail(function(data){
				console.log(data);
			});

			return false;
		})

		// 选择框
		var $select = $("#typeid").attr("data-val");
		$("#typeid option").each(function(index,value){
			if($(this).val()==$select){
				$(this).attr("selected",true);
			}

		});

	});
</script>

