<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <title>happen | Hello World!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script src="/admin/js/jquery-1.8.3.min.js"></script> 
    <meta content="_csrf" name="csrf-param">
    <meta content="<%= csrf %>" name="csrf-token">
  </head>
<body>

<h1>文件上传</h1>

<!-- <form method="post" enctype="multipart/form-data" action="/admin/doFile" id="form1">
	<input type="file" name="imgFile">
	<input type="submit" value="OK">
</form> -->

<form method='post' enctype='multipart/form-data' id="form1">
  <input type="file" name='file1'/><br>
  <input type="file" name='file2'/><br>
  <input type="file" name='file3'/><br>
  <input type="file" name='file4'/><br>
  <input type="file" name='file5'/><br>
  <input type='hidden' name='_csrf' id="_csrf" value='<%= csrf %>' />
  <input type="submit" />
</form>

<script>

$(function(){

	$("#form1").submit(function(){

		var formdata = new FormData(this);  
		
		$.ajax({
			type:'post',
			url : '/admin/doUpload',
			data : formdata,
			contentType: false,
			processData: false

		}).done(function(data){

			console.log(data);

		}).fail(function(data){
			console.log(data);
		});

		return false;
	})
	
});
</script>.

</body>
</html>