html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display:block
}
body {
	line-height:1;
	height:101%;
	overflow-y:scroll
}
blockquote,q {
	quotes:none
}
blockquote:before,blockquote:after,q:before,q:after {
	content:'';
	content:none
}
table {
	border-collapse:collapse;
	border-spacing:0
}
body {
	font:14px/1.5em tahoma,"HelveticaNeue","Helvetica Neue",Helvetica,Arial;
	color:#444;
	-webkit-font-smoothing:antialiased;
	-webkit-text-size-adjust:100%;
	padding-top:70px;
	+padding-top:0;
	background-color:#F2F2F2;
	+overflow-y:hidden
}
h1,h2,h3,h4,h5,h6 {
	font-weight:normal
}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
	font-weight:inherit
}
h1 {
	font-size:46px;
	line-height:50px
}
h2 {
	font-size:35px;
	line-height:1.5;
	margin-bottom:10px
}
h3 {
	font-size:28px;
	line-height:34px;
	margin-bottom:8px
}
h4 {
	font-size:18px;
	line-height:30px;
	margin-bottom:5px
}
h5 {
	font-size:17px;
	line-height:24px
}
h6 {
	font-size:14px;
	line-height:21px
}
.subheader {
	color:#777
}
p {
	margin:0 0 20px 0
}
p img {
	margin:0
}
p.lead {
	font-size:21px;
	line-height:27px;
	color:#777
}
em {
	font-style:italic
}
strong {
	font-weight:bold
}
small {
	font-size:80%
}
pre {
	/*padding:24px 20px;*/
	background: #D9D9D9;
	/*font:13px "Courier 10 Pitch",Courier,monospace;
	border:1px solid #222;
	line-height:20px;
	margin:10px 0;
	overflow:auto*/
}
code {
	padding:0 3px
}
pre code {
	background:transparent
}
blockquote,blockquote p {
	font-size:14px;
	line-height:24px;
	color:#333;
}
blockquote {
	/*margin:0 0 20px;*/
	padding:10px 20px;
	border:1px solid #ddd;
	background:#F8F8F8;
}
blockquote cite {
	display:block;
	font-size:12px;
	color:#555
}
blockquote cite:before {
	content:"\2014 \0020"
}
blockquote cite a,blockquote cite a:visited,blockquote cite a:visited {
	color:#555
}
hr {
	border-top:solid #383838;
	border-bottom:solid #545454;
	border-width:1px 0 1px 0;
	clear:both;
	margin:10px 0 30px;
	height:0
}
*:link,*:visited,*:hover,*:active,*:focus {
	transition:color .20s linear,background-color .20s linear,border-color .20s linear
}
a {
	color:#999;
	text-decoration:none
}
a:hover {
	color:#333
}
p a,p a:visited {
	line-height:inherit
}
ul,ol {
	margin-bottom:20px
}
ol {
	list-style:decimal
}
ol,ul.square,ul.circle,ul.disc {
	margin-left:30px
}
ul.square {
	list-style:square outside
}
ul.circle {
	list-style:circle outside
}
ul.disc {
	list-style:disc outside
}
ul ul,ul ol,ol ol,ol ul {
	margin:4px 0 5px 30px;
	font-size:90%
}
ul ul li,ul ol li,ol ol li,ol ul li {
	margin-bottom:6px
}
li {
	line-height:18px;
	margin-bottom:5px
}
ul.large li {
	line-height:21px
}
li p {
	line-height:21px
}
img.scale-with-grid,.column img {
	height:auto;
	vertical-align:middle
}
.clear-fix:before,.clear-fix:after {
	content:".";
	display:block;
	height:0;
	visibility:hidden
}
.clear-fix:after {
	clear:both
}
.clear-fix {
	zoom:1
}
.qz-left {
	float:left;
	_margin-right:-3px
}
.qz-right {
	float:right;
	_margin-left:-3px
}
.qz-main {
	overflow:hidden;
	*zoom:1
}
.textoverflow,.ellipsis {
	display:inline-block;
	white-space:nowrap;
	word-wrap:normal;
	overflow:hidden;
	text-overflow:ellipsis;
	max-width:100%;
	_width:100%
}
.none {
	display:none!important
}
.hide-clip {
	position:absolute!important;
	clip:rect(1px 1px 1px 1px);
	clip:rect(1px,1px,1px,1px);
	padding:0!important;
	border:0!important;
	height:1px!important;
	width:1px!important;
	overflow:hidden
}
body:hover .hide-clip a,body:hover .hide-clip input,body:hover .hide-clip button {
	display:none!important
}
:root .ui-mask {
	filter:none \0
}
.ui-mask a {
	color:#fff
}
form {
	margin-bottom:20px
}
fieldset {
	margin-bottom:20px
}
input[type="text"],input[type="password"],input[type="email"],textarea,select {
  display:inline-block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

select {
	padding:0
}
input[type="text"]:focus,input[type="password"]:focus,input[type="email"]:focus,textarea:focus {
	color:#444
}
textarea {
	min-height:60px
}
label,legend {
	display:block;
	font-weight:bold;
	font-size:13px
}
select {
	width:220px
}
input[type="checkbox"] {
	display:inline
}
label span,legend span {
	font-weight:normal;
	font-size:13px;
	color:#444
}
.remove-bottom {
	margin-bottom:0!important
}
.remove-top {
	margin-top:0!important
}
.half-bottom {
	margin-bottom:10px!important
}
.add-bottom {
	margin-bottom:20px!important
}
table {
	border-collapse:collapse;
	border-spacing:0;
	border:1px solid #fff;
	margin:10px 0
}
table td,table th {
	text-align:left;
	border:1px solid #555;
	padding:.4em .8em
}
table th {
	background:#ddd;
	color:#999;
	text-transform:uppercase;
	font-weight:400;
	border:1px solid #555
}
table td {
	border:1px solid #555;
	background:#eee;
	color:#555
}
table tr.even td {
	background:#eee;
	border:none
}
table tr:hover td {
	background:#FFF9DF
}
img.centered {
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	padding:0
}
img.alignnone {
	display:inline
}
img.alignright {
	display:inline;
	background:#eee;
	margin:5px 0 10px 10px;
	padding:5px
}
img.alignleft {
	display:inline;
	background:#eee;
	margin:10px 15px 10px 0;
	padding:5px
}
.alignleft {
	float:left;
	margin:10px 15px 10px 0
}
.wp-caption {
	text-align:center;
	background:#eee;
	margin:10px;
	padding:4px 0 5px
}
.wp-caption img {
	border:0;
	margin:0 0 5px;
	padding:0
}
.wp-caption p.wp-caption-text {
	font-size:11px;
	font-weight:400;
	line-height:12px;
	color:#444;
	margin:0;
	padding:0
}
.clearfix:after {
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0;
	height:0
}
.clearfix {
	display:inline-block
}
html[xmlns] .clearfix {
	display:block
}
* html .clearfix {
	height:1%
}
.rounded {
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px
}
.boxshadow {
	-moz-box-shadow:0 0 5px #000;
	-webkit-box-shadow:0 0 5px #000;
	box-shadow:0 0 5px #000
}
.page-template-jobs-php .sidebar_menu,.page-template-about-php .sidebar_menu {
	display:none
}

@font-face {font-family: 'iconfont';
    src: url('../fonts/iconfont.eot'); /* IE9*/
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype'),
    url('../fonts/iconfont.svg#uxiconfont') format('svg'); /* iOS 4.1- */
}

.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.fonts a i {
	color:#999
}
.fonts a:hover i {
	color:#333
}


#blogname {
	margin:20px 0 0 0
}
#search {
	padding:0;
	margin:11px 0 0 0;
	display:inline-block;
	height:23px;
	line-height: 23px;
	border:1px solid #3F3F3F;
	width:100%;
	*width:160px;
	border-radius:5px;
	background-position:4px 6px;
	background-repeat:no-repeat;
	background-image:url(../images/seach_icon.png);
}
.search_box {
	background:#222
}
.search_box_focus {
	background:#ddd;
	border:1px solid #000
}
#search form {
	margin:0;
	padding:0
}
#search fieldset {
	margin:0;
	padding:0;
	border:none
}
#search p {
	margin:0;
	font-size:85%
}
#s {
	background:transparent;
	margin:2px 0 0 3px;
	padding:0 5px;
	height:20px;
	line-height: 20px !important;
	border:none;
	font:11px normal 100% "Tahoma",Arial,Helvetica;
	color:#555;
	float:left;
	display:inline;
	width:150px;
	padding-left:15px;
}
input[type="text"]:focus {
	outline:none
}
.subtitle {
	color:#333;
	padding-left:10px
}
.search-results {
	padding-top:70px
}
.subtitle h3 {
	font-size:24px;
	font-family:\5FAE\8F6F\96C5\9ED1;
	color:#333;
	margin-bottom:16px
}
.top-fix {
	background-color:#212121;
	height:47px;
	position:fixed;
	+position:relative;
	top:0;
	left:0;
	width:100%;
	z-index:99;
	/*background-image:url(../images/topfixed_bg.png);
	background-repeat:repeat-x;
	background-position:0 bottom*/
}
.header {
	height:40px;
	clear:both;
}
.menu {
	float:left
}
.menu ul {
	float:right
}
.menu li {
	display:inline;
	list-style-type:none;
	padding-right:12px;
	font-size:16px;
	text-transform:uppercase
}
.menu li .sf-sub-indicator {
	margin-left:4px;
	vertical-align:middle;
	width:0;
	height:0;
	overflow:hidden;
	font-size:0;
	display:inline-block;
	border-left:4px solid transparent; 
	border-right:4px solid transparent; 
	_border-left:4px solid black; 
	_filter:chroma(color=black); 
	_border-right:4px solid black; 
	_filter:chroma(color=black); 
	border-top:4px solid #9F9F9F;
}
.top-fix h1,.top-fix h2 {
	position:absolute;
	top:0;
	left:0;
	margin-top:10px;
	margin-right:73px;
	_display:inline
}
.logo a {
	text-decoration:none
}
.header-op {
	float:right
}
.logo {
	background-image:url(../images/logo.png);
	background-repeat:no-repeat;
	width:112px;
	height:28px;
	display:block;
	text-indent:-999em;
	overflow:hidden
}
#botmenu {
	margin:0 0 0 113px
}
#submenu ul {
	width:100%;
	float:left;
	list-style:none;
	margin:0;
	padding:0
}
#submenu li {
	float:left;
	list-style:none;
	color:#333;
	margin:0 14px 0 0;
	padding:0
}
#submenu li a {
	color:#999;
	display:block;
	text-decoration:none;
	position:relative;
	font-size:14px;
	font-family:Arial,Helvetica Narrow;
	line-height:48px;
	background-repeat:no-repeat;
	height:48px;
	text-align:center;
	letter-spacing:1px;
	margin:0;
	padding:0
}
#submenu li a:hover,#submenu li a:active,#submenu .current_page_item a {
	color:#fff;
	text-shadow:1px 0 20px #fff
}
#submenu .menu-home a,#submenu .menu-apps a {
	width:73px
}
#submenu .menu-read a {
	width:95px;
	margin-right:0;
}
#submenu .menu-read a:hover .sf-sub-indicator {
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	border-bottom: 4px solid #fff;
	border-top:none;
}
#submenu .menu-about a {
	width:80px
}
#submenu .menu-join a {
	width:64px
}
#submenu li li a,#submenu li li a:link,#submenu li li a:visited {
	margin:0;
	padding:0;
	font-size:12px;
}
#submenu li ul {
	z-index:9999;
	position:absolute;
	left:-999em;
/*	height:153px;*/
	width:111px;
	overflow:hidden;
	background:#222;
	top:47px;
	margin:0;
	padding:0
}
#submenu li ul a {
	padding-left:13px!important;
	width:110px!important;
	height:30px;
	background-repeat:no-repeat;
	line-height:30px;
	overflow:hidden;
	font-family:'STHeiti','\5fae\8f6f\96c5\9ed1';
	text-align:left
}
#submenu li ul a:hover {
	background:#000;
	color:#fff;
}
#submenu li ul ul {
	margin:-37px 0 0 169px
}
#submenu li:hover ul ul,#submenu li:hover ul ul ul,#submenu li.sfHover ul ul,#submenu li.sfHover ul ul ul {
	left:-999em
}
#submenu li:hover ul,#submenu li li:hover ul,#submenu li li li:hover ul,#submenu li.sfHover ul,#submenu li li.sfHover ul,#submenu li li li.sfHover ul {
	left:auto
}
#submenu li:hover,#submenu li.sfHover {
	position:static
}
#submenu a::before {
	font-family:Arial;
	width:23px;
	display:inline-block;
	text-align:left
}
#submenu .menu-ur a::before {
	content:"UR";
	color:#9BBC1C
}
#submenu .menu-id a::before {
	content:"ID";
	color:#FA0
}
#submenu .menu-fd a::before {
	content:"FD";
	color:#00D0FF
}
#submenu .menu-vd a::before {
	content:"VD";
	color:#E43C79
}
#submenu .menu-ux a::before {
	content:"UX";
	color:#A76AAF
}
.menu_control {
	display:none
}
#wpcc_output {
	float:right;
	border-radius:16px;
	border:1px solid #3F3F3F;
	margin:8px 0 0 20px
}
#wpcc_output a {
	padding:5px;
	color:#FFF;
	text-decoration:none
}
#wpcc_output span {
	padding:0 2px;
	float:left;
	width:24px;
	height:24px;
	display:block;
	overflow:hidden
}
#wpcc_output span a {
	margin-top:-3px;
	width:12px;
	height:12px;
	display:block;
	overflow:hidden;
	font-size:12px;
	line-height:20px;
	color:#6e6e6e
}
.zh_hans #wpcc_zh-hans,#wpcc_output .wpcc_current_lang {
	padding:0 0 0 2px;
	border-radius:16px;
	background:#3c3c3c
}
.zh_hans #wpcc_zh-hans a,#wpcc_output .wpcc_current_lang a {
	color:#ccc
}
.search_children {
	padding:60px 0 20px 150px
}
@media only screen and (min-width:960px) {
	.top-fix .header {
		display:block !important;
	}
}
@media only screen and (max-width:959px) {
	.top-fix .header {
	display:none
}
.top-fix .container .top-fix-wrap {
	position:relative;
	margin:0 auto
}
.top-fix h1 {
	margin-left:10px
}
.top-fix h2 {
	margin-left:10px
}
.top-fix .header,.top-fix .container {
	width:100%!important
}
.header {
	position:absolute;
	top:47px;
	height:376px;
	left:0;
	background:#333;
	font-family:\5fae\8f6f\96c5\9ed1,arial;
	overflow:hidden
}
.header .header-op {
	position:absolute;
	top:0;
	left:10px;
	right:80px;
	height:48px;
	width:auto
}
.header .menu {
	padding-top:10px
}
.header #s {
	width:100%;
	height:26px;
	font-size:22px;
	text-indent:10px;
	background-position: 6px 5px;
	background-repeat:no-repeat;
	background-image:url(../images/seach_icon2.png);
	text-indent: 10px;
	padding-top: 0px;
}
.header #search {
	height:26px;
	background:#2e2e2e
}
.header #search.search_box_focus {
	background:#ddd;
	border:1px solid #000
}
.header #wpcc_output {
	margin:11px 10px 0 13px
}
.header .wpcc_output {
	zoom:1.1
}
.header a {
	color:#999
}
.header .sub-menu {
	display:block!important;
	visibility:visible!important
}
.header #botmenu {
	margin:0
}
.header .menu {
	float:none
}
.header #submenu .menu-read a {
	text-indent:16px;
	text-align:left;
	line-height:42px;
	height:42px
}
.header #submenu .sfmenu {
	padding-top:35px
}
.header #submenu li {
	float:none;
	display:block;
	overflow:hidden;
	padding:0;
	border-top:1px solid #444;
	margin:0!important;
	width:100%;
	height:auto
}
.header #submenu span.sf-sub-indicator {
	display:none
}
.header #submenu .sf-with-ul {
	cursor:default!important
}
.header #submenu li li {
	float:left;
	width:40%!important;
	padding:0;
	border:none
}
.header #submenu li ul {
/*	height:90px;*/
	position:static;
	margin:-5px 0 0 15px;
	background:none;
	width:100%
}
.header #submenu .menu-read ul a {
	text-indent:0;
	background:none
}
.header #submenu a:active {
	background-color:#444;
	color:#fff
}
.header #submenu .menu-read a:active {
	background:none
}
.header #submenu .menu-read ul a:active {
	background-color:#444;
	color:#fff
}
#submenu .menu-about a,#submenu .menu-join a,#submenu .menu-home a {
	width:100%;
	text-indent:16px;
	text-align:left
}
.top-fix .menu_control {
	position:absolute;
	top:13px;
	right:13px;
	display:block;
	text-align:center
}
.top-fix .menu_control_h {
	background-color:#333
}
.top-fix .menu_control a {
	display:block;
	border:none;
	padding:0;
	background-color:transparent;
	cursor:pointer;
	width:21px;
	height:20px;
	color:rgba(0,0,0,0);
	line-height:200px;
	overflow:hidden;
	background-image:url(../images/menu_control.png);
	background-repeat:no-repeat
}
}.top-fix .menu_control_h a {
	background-image:url(../images/menu_control_h.png)
}
.post {
	margin:0 0 20px 0;
	color:#333
}
#homecontent .post a img,#homecontent .post a img {
	-webkit-transition:opacity .15s linear;
	-moz-transition:opacity .15s linear;
	transition:opacity .15s linear
}
#homecontent .post a:hover img,#homecontent .post:hover a img {
	filter:alpha(opacity = 65);
	-moz-opacity:.65;
	-khtml-opacity:.65;
	opacity:.65
}
#homecontent .post .post-category a:hover img,#homecontent .post:hover .post-category a img {
	filter:alpha(opacity = 100);
	-moz-opacity:1;
	-khtml-opacity:1;
	opacity:1
}
#homecontent {
	+padding-top:20 px;
	margin-top:10px;
	width:990px
}
#homecontent .column {
	margin-bottom:30px
}
#homecontent .post {
	background-color:#FFF;
	height:360px;
	position:relative
}
.one-third .thumbnail_box {
	width:300px;
	height:220px;
	vertical-align:middle;
	text-align:center;
	display:block;
	overflow:hidden
}
.one-third .thumbnail_box img {
	vertical-align:middle
}
.one-third a img.attachment-thumbnail {
	height:220px;
	width:385px;
	margin-left:-42.5px
}
.post-detail .bg {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:85px;
	background:#000;
	opacity:.7;
	filter:alpha(opacity = 70)
}
.btitle {
	padding:0 12px 0 15px;
	position:relative
}
.post-data {
	position:absolute;
	left:0;
	bottom:10px;
	margin:0 12px
}
.post-data i {
	font-size:20px;
	display:inline-block;
	vertical-align:bottom;
	margin-right:10px;
}
.post-data a span {
	display:inline-block
}
.post-data .icon-share {
	font-size:18px
}
.post-data a {
	cursor:pointer;
	color:#666;
	line-height:25px;
	height:25px;
	display:inline-block;
}
.post-data a:hover i {
	color:#999
}
.btitle {
	height:95px
}
.post_latest .btitle {
	height:55px
}
.btitle h2 {
	height: 54px;
	overflow: hidden;
	font-family:'STHeiti','\5fae\8f6f\96c5\9ed1';
	font-size:19px;
	padding-top:4px;
	line-height:1.4;
	color:#333
}
.btitle h2 a:link,.btitle h2 a:visited {
	text-decoration:none;
	color:#333;
	word-wrap:break-word;
	word-break:normal
}
.title h2 {
	font-family:'BebasNeueRegular';
	font-size:36px;
	padding-top:5px
}
.title h2 a:link,.title h2 a:visited {
	text-decoration:none;
	color:#151515
}
.postimg {
	float:left;
	margin:15px 10px 10px 0
}
.post-detail {
	padding-top:13px
}
.post_latest .post-detail {
	padding-top:3px
}
.author img {
	width:20px;
	height:20px;
	vertical-align:middle;
	border-radius:20px
}
.postmeta {
	font-size:12px
}
.author {
	color:#666;
	padding:2px 5px 2px 0
}
.post_latest .author {
	color:#999;
	line-height:50px;
	margin-left:5px
}
.post_latest .author .comment-avatar-wrap {
	display:none
}
.clock {
	color:#666;
	font-weight:normal;
	padding:2px 5px 2px 20px
}
.post-data a {
	margin-right:20px;
	text-decoration:none
}
.post-data a,.post-data a:visited {
	color:#666
}
.post-data a:hover {
	color:#333
}
.post-category {
	position:absolute;
	bottom:0;
	right:0
}
.post-category img {
	vertical-align:middle
}
.post_latest {
	position:relative
}
.post_latest .post-detail {
	position:absolute;
	left:0;
	bottom:0;
	height:85px;
	width:100%;
	padding-top:0
}
.post_latest .btitle {
	width:100%
}
.post_latest .btitle h2 {
	display:inline-block;
	*display:block;
	zoom:1;
	margin-right:5px;
	margin-bottom:0;
	padding-top:10px;
	float:left
}
.post_latest .btitle h2 a {
	color:#fff
}
.post_latest .boxentry {
	color:#999;
	padding:5px 0
}
.post_latest .boxentry p {
	margin-bottom:0
}
.post_latest .post-data {
	color:#999;
	font-weight:normal;
	font-size:12px;
	font-family:Verdana
}
.post_latest .post-data i {
	color:#fff
}
.post_latest .post-data a {
	color:#fff
}
.post_latest .post-data a:hover,.post_latest .post-data a:hover i {
	color:#fff
}
.singleinfo {
	padding:5px 0
}
.categori {
	padding:2px 0 2px 25px;
	color:#000;
	font-weight:bold;
	font-size:10px;
	text-transform:uppercase
}
.categori a:link,.categori a:visited {
	color:#444;
	text-decoration:none
}
.categori a:hover {
	color:#333
}
.boxentry {
	font-size:12px;
	padding:0
}
.entry a.c_weak:link,.entry a.c_weak:visited {
	color:#999
}
.entry a.c_weak:hover,.entry a.c_weak:active {
	color:#333
}
.entry a[rel*="attachment"] {
	pointer-events:none;
	cursor:default
}
.entry .contact_us p {
	line-height:26px;
	padding:0;
	margin:0
}
.qr {
	text-align:center;
	padding-top:50px
}
.entry .qr p {
	line-height:18px
}
.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px
}
.alignright {
	float:right;
	margin:0 0 10px 10px
}
.mod_entry {
	background-color:#fff;
	margin-bottom:40px!important
}
.mod_entry .title {
	padding:9px 20px
}
.mod_entry .title h1,.mod_entry .title h2 {
	font-family:'STHeiti',\5FAE\8F6F\96C5\9ED1;
	color:#333;
	font-size:30px;
	line-height:1.2;
	padding:7px 0
}
.mod_entry .title h1 a,.mod_entry .title h2 a {
	color:#333
}
.mod_entry .postmeta {
	padding-left:20px
}
.entry a {
	color:#0090ff
}
.entry a:hover {
	color:#005292
}
.isux-state-unlike {
	color:#0090ff
}
.mod_entry .postmeta img {
	float:left;
	border-radius:40px
}
.mod_entry .postmeta .postmeta-main {
	margin-left:50px;
	margin-bottom:18px
}
.mod_entry .content_bar {
	border-bottom:1px solid #ddd;
	height:50px;
	margin:0 20px
}
.post_author {
	display:block;
	font-size:14px;
	color:#333
}
.post_time {
	color:#999;
	font-family:verdana
}
.thumbnail-b {
	position:relative
}
.thumbnail-b img.wp-post-image {
	vertical-align:middle;
	width:100%!important;
	height:auto!important
}
.statistics {
	position:relative;
	float:left;
	margin-right:5px;
	opacity:.6;
	filter:alpha(opacity = 60);
	width:120px
}
.statistics:hover {
	opacity:1;
	filter:alpha(opacity = 100)
}
.statistics i {
	font-size:21px;
	vertical-align:middle
}
.statistics span {
	font-size:30px;
	font-family:arial;
	font-weight:normal;
	vertical-align:middle
}
.statistics span.rate {
	margin-left:-5px
}
.entry {
	font-size:14px;
	padding:14px 20px;
	color:#111;
	overflow:hidden;
	word-wrap:break-word;
	word-break:normal
}
.mod_entry .entry h1 {
	font-size:26px;
	line-height:3;
	font-family:'STHeiti','\5fae\8f6f\96c5\9ed1'
}
.mod_entry .entry h2 {
	font-size:22px;
	line-height:2;
	font-family:'STHeiti','\5fae\8f6f\96c5\9ed1'
}
.mod_entry .entry h3 {
	font-size:18px;
	line-height:2;
	font-family:'STHeiti','\5fae\8f6f\96c5\9ed1';
	color:#333
}
.entry ul,.entry ol {
	margin:.4em 0 1em;
	line-height:150%
}
.entry ul li,.entry ol li {
	list-style-position:outside;
	margin-left:1.6em
}
.entry p {
	margin:0 0 0px 0;
	padding:0;
	line-height:200%;
	word-wrap:break-word;
	word-break:normal
}
.entry h4 {
	font-family:'STHeiti','\5fae\8f6f\96c5\9ed1';
	font-weight:bold;
}
.entry img {
	vertical-align:middle;
	width:auto!important;
	height:auto!important;
	max-width:100%;
}
.entry h3 {
	font-size:16px;
	color:#333;
	font-weight:bold
}
.jobs_entry {
	padding-top:0
}
.jobs_entry h3 span {
	display:none
}
.jobs_entry .title_ur,.jobs_entry .title_id,.jobs_entry .title_vd,.jobs_entry .title_fd {
	background-repeat:no-repeat;
	width:176px;
	height:42px;
	margin-bottom:15px
}
.jobs_entry .title_ur {
	background-position:0 0
}
.jobs_entry .title_id {
	background-position:0 -44px
}
.jobs_entry .title_vd {
	background-position:0 -87px
}
.jobs_entry .title_fd {
	background-position:0 -130px
}
.jobs_entry_box {
	padding-bottom:26px
}

#right {
	width:100%;
	float:right
}
#right a{display:block;}
#right a img{max-width: 100%;height:auto;}
.sidebar {
	float:right;
	width:100%
}
.sidebar ul li a{margin-bottom:0;}
.sidetitl {
	margin-top:-12px;
	padding:0;
	font-weight:bold;
	width:100%
}
.sidetitl h3 {
	font-family:verdana;
	font-size:14px;
	color:#333;
	margin-bottom:0
}
.sidebox {
	list-style:none;
	color:#999;
	margin:0 0 30px 0;
	font-size:14px;
	line-height:180%
}
.wm_show {
	margin-top:-10px
}
.wm_show .microblogs li {
	line-height:26px
}

.sidebox ul {
	list-style-type:none;
	margin:0;
	padding:0 0 5px
}
.sidebox li {
	list-style-type:none;
	margin:0;
	padding:0
}
.sidebox ul ul {
	list-style-type:none;
	background-repeat:no-repeat;
	margin:0;
	padding:0
}
.sidebox ul li {
	height:100%;
	line-height:18px;
	clear:left;
	list-style-type:none;
	margin:0;
	font-size:14px
}
.sidebox ul li a {
	display:inline-block;
	white-space:nowrap;
	word-wrap:normal;
	overflow:hidden;
	text-overflow:ellipsis;
	max-width:100%;
	_width:100%
}
.sidebox ul li a:link,.sidebox ul li a:visited {
	color:#999;
	text-decoration:none;
	display:block;
	padding:6px 0
}
.sidebox ul li a:hover {
	color:#333
}
.widget_recent_entries ul li a::before {
	content:" ";
	display:inline-block;
	vertical-align:middle;
	overflow:hidden;
	border-radius:4px;
	width:4px;
	height:4px;
	margin-right:8px;
	background:#bbb
}
.widget_recent_entries ul li:hover a::before {
	background:#333
}
.widget_recent_entries ul li a {
	color:#999
}
ul#recentcomments li.recentcomments {
	padding:7px 0
}
div#calendar_wrap {
	border:1px solid #ddd;
	margin:0 auto;
	padding:0
}
table#wp-calendar {
	width:100%;
	border:none;
	margin:0!important;
	padding:0
}
#wp-calendar caption {
	font-size:12px;
	color:#ddd;
	font-weight:400;
	padding:10px 5px 5px;
	text-align:center
}
#wp-calendar th,#wp-calendar td {
	text-align:center;
	color:#fff;
	background:transparent;
	padding:7px 5px
}
#wp-calendar tr {
	margin:0!important
}
#wp-calendar td {
	color:#aaa;
	margin:0!important
}
#wp-calendar td a {
	border:none;
	color:#D1512A
}
.sidebox ul ul ul,.sidebox ul ul ul ul {
	list-style-type:none;
	border:0;
	margin:0;
	padding:0
}
.squarebanner {
	margin:0 0 10px 0
}
.squarebanner ul {
	list-style-type:none;
	margin:0 auto;
	padding:0;
	overflow:hidden;
	width:100%
}
.squarebanner ul li {
	list-style-type:none;
	display:inline;
	float:left;
	margin-right:10px;
	margin-top:10px
}
#bottom {
	margin:0 auto
}
.bottomcover {
	margin:0 auto
}
h3.bothead {
	font-family:'BebasNeueRegular';
	font-size:18px;
	color:#fff;
	text-shadow:0 1px 0 #111
}
.botwid {
	padding-top:30px;
	padding-bottom:30px;
	font-size:13px;
	color:#aaa;
	list-style:none
}
.botwid ul {
	list-style-type:none;
	margin:0;
	padding:0
}
.botwid li {
	list-style-type:none;
	margin:0;
	padding:0;
	border-bottom:1px solid #444
}
.botwid ul ul {
	list-style-type:none;
	margin:0;
	padding:0;
	background-repeat:no-repeat
}
.botwid ul ul ul {
	list-style-type:none;
	margin:0;
	padding:0;
	border:0
}
.botwid ul ul ul ul {
	list-style-type:none;
	margin:0;
	padding:0;
	border:0
}
.botwid ul li {
	height:100%;
	line-height:18px;
	clear:left;
	list-style-type:none
}
.botwid ul li a:link,.botwid ul li a:visited {
	color:#aaa;
	text-decoration:none;
	padding:7px 0 7px 0;
	display:block
}
.botwid ul li a:hover {
	color:#fff
}
.botwid p {
	padding:7px 0;
	margin:0;
	line-height:150%
}
.botwid table {
	width:100%;
	text-align:center;
	color:#787d7f
}
#footer {
	padding:0 margin:38 px 0 px 0 px 0 px;
	color:#666;
	font-size:12px;
	position:relative;
	overflow:hidden
}
#footer a:link,#footer a:visited {
	color:#666;
	text-decoration:none
}
#footer .mod-links {
	border-top:1px solid #CBCBCB;
	padding:14px 0 5px
}
#footer .mod-links h4 {
	font-size:12px;
	float:left;
	line-height:1.5
}
#footer .mod-links a {
	margin-right:17px;
	font-family:Verdana
}
#footer .mod-links ul {
	float:left;
	margin-bottom:0
}
#footer .mod-links li {
	float:left
}
.links_ued {
	margin-right:30px;
	float:left
}
#footer ul {
	list-style:none
}
#footer a:hover {
	color:#333
}
.fcred {
	border-top:1px solid #CBCBCB;
	margin:0 auto 30px;
	line-height:16px;
	padding-top:18px
}
.footer_menu {
	margin-left:18px;
	color:#CCC;
	font-family:Verdana
}
.footer_menu a {
	color:#666;
	margin:0 3px
}
.icon_links {
	margin-left:20px
}
.icon_links a {
	color:#989898;
	font-size:13px
}
.icon_links a:hover {
	color:#333
}
.icon-rss {
	font-size:16px
}
.icon-t-weibo {
	font-size:18px
}
.icon-weibo {
	font-size:20px
}
.dividingline {
	margin-top:-2px;
	width:30px;
	height:30px;
	display:block;
	float:left;
	background-repeat:no-repeat;
	background-position:lefr top;
	opacity:.6;
	filter:alpha(opacity = 60)
}
.fd {
	float:left;
	margin-top:-10px
}
.fd a {
	font-size:12px;
	display:block;
	float:left;
	width:65px;
	background-repeat:no-repeat;
	background-position:center top;
	opacity:.6;
	filter:alpha(opacity = 60)
}
.fd a span {
	padding-top:30px;
	display:block;
	text-align:center
}
.fd a:hover {
	opacity:1;
	filter:alpha(opacity = 100)
}
.fd a.ico_in {
	background-position:center 2px
}
.content_menu {
	border-bottom:1px solid #ddd;
	margin:0 20px;
	height:50px
}
.sidebar_menu {
	position:absolute;
	top:0;
	left:-65px;
	width:50px
}
.sidebar_menu .ico_arrow_gray_down {
	opacity:.6;
	filter:alpha(opacity = 60);
	margin:0 auto;
	float:none;
	height:36px;
	display:none
}
.content_menu .ico_arrow_gray_right {
	display:none
}
.sidebar_menu .statistics {
	margin:0 auto;
	float:none;
	text-align:center;
	padding:7px 0 15px;
	width:50px
}
.sidebar_menu .comments_number span {
	text-indent:-3px
}
.sidebar_menu .separator {
	height:1px;
	width:40px;
	margin:0 auto;
	background-color:#ccc
}
.sidebar_menu .statistics span {
	display:block
}
.sidebar_menu .statistics i {
	margin-bottom:10px;
	display:inline-block
}
.sidebar_menu .statistics .icon-share {
	font-size:20px
}
.share {
	cursor:pointer
}
.sidebar_menu .fd {
	float:none;
	margin:0;
	display:none
}
.content_menu .fd {
	display:none
}
.sidebar_menu .fd a {
	float:none;
	width:auto
}
.sidebar_menu .fd a span {
	padding:29px 0 17px
}
.sidebar_menu .ico_arrow_show,.content_menu .ico_arrow_show {
	display:block
}
#commentsbox {
	margin:0 20px
}
h3#comments {
	padding:10px 10px;
	font-size:20px;
	margin:0;
	color:#999;
	font-family:'BebasNeueRegular'
}
ol.commentlist {
	clear:both;
	overflow:hidden;
	list-style:none;
	margin:10px 0;
	font-size:14px
}
ol.commentlist li {
	line-height:18px;
	color:#333;
	margin:5px 0 20px 0;
	border-bottom:1px solid #EEE
}
ol.commentlist li .comment-author a:link,ol.commentlist li .comment-author a:visited {
	font-weight:700;
	text-decoration:none!important
}
cite.fn {
	color:#666;
	font-style:normal;
	font-weight:bold
}
cite.fn a {
	color:#666
}
.comment-author .says {
	display:none
}
ol.commentlist li .comment-author .avatar {
	float:left;
	border-radius:20px;
	width:40px
}
ol.commentlist li .comment-meta .commentmetadata {
	color:#000
}
ol.commentlist li .comment-meta {
	padding-left:50px
}
ol.commentlist li .comment-meta a {
	color:#999;
	text-decoration:none!important
}
ol.commentlist .comment-text {
	display:inline-block;
	zoom:1;
	width:100%;
	margin-left:10px;
}
ol.commentlist li p {
	color:#333;
	font-size:14px;
	margin:6px 30px 0 0;
	word-wrap: break-word;
}
ol.commentlist li .reply {
	margin-top:10px;
	font-size:10px
}
ol.commentlist li .reply a {
	color:#fff;
	text-decoration:none;
	padding:3px 10px
}
ol.commentlist li ul.children {
	list-style:none;
	text-indent:0;
	margin:1em 0 0
}
ol.commentlist li ul.children .comment {
	padding-bottom:10px
}
ol.commentlist li ul.children .reply {
	display:none
}
#comment-form {
	padding-top:10px
}
#jumpbox {
	height:50px
}
.comment-nav {
	display:none
}
.comment-nav a:link,.comment-nav a:visited {
	color:#0093AD
}
#respond {
	margin:10px 0;
	padding:0;
	clear:both;
	overflow:hidden
}
#respond h3 {
	font-family:'BebasNeueRegular';
	font-size:20px;
	color:#151515
}
#commentform {
	margin:0
}
#commentform a {
	color:#E1512A
}
#commentform p {
	color:#aaa;
	margin:5px 0
}
#respond label {
	display:block;
	color:#aaa;
	padding:5px 0
}
#respond input {
	/*border:1px solid #ddd;*/
	color:#aaa;
	margin:0 0 10px 0;
	text-indent:10px;
	height:42px;
	width:100%;
	font-size:14px;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box
}
#respond textarea {
	width:100%;
	height:50px
}
#respond input#commentSubmit {
	width:80px;
	height:34px;
	background:#fff;
	border:1px solid #DDD;
	color:#666;
	cursor:pointer;
	margin:10px 18px;
	float:right;
	font-weight:bold;
	text-indent:0
}
#respond input#commentSubmit:hover {
	border:1px solid #999
}
#respond input#commentSubmit:active {
	border:1px solid #333;
	background-color:#333;
	color:#fff
}
textarea#comment {
	height:100px;
	background:#fff;
	border:1px solid #DDD;
	color:#aaa;
	margin:10px 0 0;
	padding:10px 13px;
	font-size:14px;
	width:100%;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box
}
#comment-form input#commentSubmit,#respond input#commentSubmit {
	margin:10px 0
}
ol.commentlist .depth-1 {
	position:relative
}
.cancel-comment-reply a,.reply .comment-reply-link,.reply .icon-comment {
	position:absolute;
	top:15px;
	right:0;
	font-size:20px;
	color:#888
}
.cancel-comment-reply a,.reply .comment-reply-link {
	display:block;
	width:25px;
	height:18px;
	opacity:0;
	font-size:0;
	padding:0!important
}
#commentform label,#commentform #author,#commentform #email,#commentform #url,#respond h3 {
	display:block
}
ol.commentlist li ul.children li.depth-2,ol.commentlist li ul.children li.depth-3,ol.commentlist li ul.children li.depth-4,ol.commentlist li ul.children li.depth-5 {
	margin:0 0 0 50px;
	border:0
}
#navigation {
	padding:10px 0 20px 0
}
.wp-pagenavi {
	font-size:12px;
	text-align:center!important
}
.wp-pagenavi a,.wp-pagenavi a:link,.wp-pagenavi a:visited {
	text-decoration:none;
	background:#555!important;
	border:1px solid #191313!important;
	color:#fff!important;
	padding:3px 7px!important;
	display:block;
	text-align:center;
	float:left;
	margin-right:4px
}
.wp-pagenavi a:hover {
	color:#fff
}
.wp-pagenavi span.pages {
	display:none
}
.wp-pagenavi span.current {
	text-decoration:none;
	background:#333!important;
	border:1px solid #111!important;
	color:#fff!important;
	padding:3px 7px!important;
	display:block;
	text-align:center;
	float:left;
	margin-right:4px
}
.wp-pagenavi span.extend {
	text-decoration:none;
	background:#333!important;
	border:1px solid #111!important;
	color:#fff!important;
	padding:3px 7px!important;
	display:block;
	text-align:center;
	float:left;
	margin-right:4px
}
.go-top {
	position:fixed;
	display:none;
	right:10px;
	bottom:10px;
	z-index:99;
}
.go-top a {
	display:block;
	background-repeat:no-repeat;
	background-position:center 15px;
	width:50px;
	height:50px;
	line-height: 50px;
	text-decoration:none;
	border-radius:3px
}
.go-top a .iconfont{
	font-size: 50px;
}
.go-top a:hover {
	border-radius:3px;
	background-color:#999;
	color:#ffffff;
}
.go-top a:active {
	background-color:#333
}
#infscr-loading {
	text-align:center;
	z-index:100;
	width:200px;
	padding:0 0 30px;
	color:#999;
	width:100%
}
#infscr-loading p {
	margin:0;
	color:#999
}
#infscr-loading img {
	vertical-align:-2px;
	margin-right:5px
}
.ico_arrow_white_left,.ico_arrow_white_top,.ico_arrow_white_right,.ico_arrow_white_bottom,.ico_arrow_gray_right,.ico_arrow_gray_top,.ico_arrow_gray_down,.ico_arrow_gray_left {
	background:no-repeat 50% 50%
}
.comment-avatar-wrap {
	width:65px;
	height:51px;
	overflow:hidden;
	float:left;
	display:inline
}

.author .comment-avatar-wrap{
	width:35px;
}

body.single .comment-avatar-wrap img {
	width:40px!important;
	height:40px!important
}
#commentsbox .comment-body {
	position:relative;
	padding:14px 0 0 50px
}
#commentsbox .comment-body .comment-avatar-wrap {
	position:absolute;
	left:0;
	top:0;
	float:none
}
#commentsbox .comment-body .fn {
	position:absolute;
	left:50px;
	top:-2px;
	margin-left:10px;
}
#commentsbox .comment-body .comment-awaiting-moderation {
	font-style:normal;
	color:#666
}
#commentsbox ol.commentlist li .comment-meta {
	padding-left:0;
	margin-left:10px;
}
ol.commentlist li .comment-author .avatar {
	width:50px;
	position:absolute;
	left:36%;
	margin-left:-20px
}
.home .comment-avatar-wrap {
	width:20px;
	height:20px;
	float:none;
	display:inline-block;
	vertical-align:middle;
	position:relative;
	top:-2px
}
.error404 .lost_child_box {
	border:none;
	box-shadow:none
}
.error404 .lost_child_box .hd,.error404 .lost_child_box .bd,.error404 .lost_child_box .ft {
	background:none
}
.error404 .lost_child_box .hd {
	padding:0
}
.error404 .lost_child_box .hd .wrong,.error404 .lost_child_box .hd .other_info {
	font-family:'STHeiti','\5fae\8f6f\96c5\9ed1';
	font-weight:normal;
	color:#333
}
.error404 .lost_child_box .hd .wrong {
	left:0;
	font-size:72px;
	top:0
}
.error404 .lost_child_box .hd .other_info {
	font-size:18px;
	color:#333;
	left:150px;
	top:37px;
	width:500px
}
.error404 .mod_lost_child .child_info .child_pic {
	top:0;
	border-radius:0;
	background:none;
	width:205px;
	height:275px
}
.error404 .mod_lost_child .child_info .child_pic a {
	width:205px;
	height:275px
}
.error404 .mod_lost_child .bd {
	padding:20px 40px 20px 0
}
.error404 .mod_lost_child .child_info .info_person {
	padding-left:232px
}
.error404 .mod_lost_child,.error404 .mod_lost_child_little {
	width:580px
}
.error404 .mod_lost_child .ft .support_company,.error404 .mod_lost_child_little .ft .support_company {
	margin-left:0
}
.error404 .mod_lost_child .child_info .info_person {
	min-height:275px;
	_height:275px
}
.error404 .mod_lost_child .ft .side_infos a,.error404 .mod_lost_child_little .ft .side_infos a {
	color:#666;
	font-size:14px;
	font-weight:normal
}
.error404 .mod_lost_child .ft .side_infos a:hover,.error404 .mod_lost_child_little .ft .side_infos a:hover {
	color:#333
}
.error404 .mod_lost_child a.back_home,.error404 .mod_lost_child_little a.back_home {
	background:none;
	padding:0
}
.error404 .mod_lost_child .ft .side_infos .symbol,.error404 .mod_lost_child_little .ft .side_infos .symbol {
	border:none
}
.error404 .mod_lost_child .ft .side_infos,.error404 .mod_lost_child_little .ft .side_infos {
	padding:20px 0 0 0
}
.error404 .info {
	display:none
}
.error404 .mod_lost_child .child_info .info_person p {
	font-weight:normal
}
.search_md {
	padding:85px 0 0 170px;
	margin:70px auto 100px;
	background:url(../images/search_empty.png) no-repeat left center;
	width:470px;
	height:151px
}
.search_post {
	position:relative;
	margin:auto
}
.search_post h4 {
	font-family:\5FAE\8F6F\96C5\9ED1;
	font-size:36px;
	color:#333;
	margin-bottom:16px
}
.search_post p {
	font-size:14px;
	color:#666
}
.page-template-jobs-php .sidebar_menu,.page-template-about-php .sidebar_menu {
	display:none
}
.g_tips {
	background:#FFF691;
	color:#010101;
	text-align:center;
	height:40px;
	line-height:40px;
	font-family:'STHeiti','\5fae\8f6f\96c5\9ed1'
}
.g_tips a {
	color:#676767;
	padding:0 2px;
	zoom:1
}
@media only screen and (min-width:960px) {
	.list-wrap {
	width:960px
}
}.list-wrap {
	overflow:hidden
}
.container {
	position:relative;
	width:960px;
	margin:0 auto;
	padding:0
}
.column,.columns {
	float:left
}
.row {
	margin-bottom:20px
}
.column.alpha,.columns.alpha {
	margin-left:0
}
.column.omega,.columns.omega {
	margin-right:0
}
.container .one.column {
	width:40px
}
.container .two.columns {
	width:100px
}
.container .three.columns {
	width:160px
}
.container .four.columns {
	width:220px
}
.container .five.columns {
	width:280px;
	margin-left:30px
}
.container .six.columns {
	width:340px
}
.container .seven.columns {
	width:400px
}
.container .eight.columns {
	width:460px
}
.container .nine.columns {
	width:520px
}
.container .ten.columns {
	width:580px
}
.container .eleven.columns {
	width:630px
}
.container .twelve.columns {
	width:700px
}
.container .thirteen.columns {
	width:760px
}
.container .fourteen.columns {
	width:820px
}
.container .fifteen.columns {
	width:880px
}
.container .sixteen.columns {
	width:960px
}
.container .one-third.column,.container .one-third.column .post {
	width:300px;
	height:360px;
	overflow:hidden;
	margin-right:30px
}
.container .two-thirds.column {
	width:630px;
	height:360px;
	margin-right:30px
}
.container .offset-by-one {
	padding-left:60px
}
.container .offset-by-two {
	padding-left:120px
}
.container .offset-by-three {
	padding-left:180px
}
.container .offset-by-four {
	padding-left:240px
}
.container .offset-by-five {
	padding-left:300px
}
.container .offset-by-six {
	padding-left:360px
}
.container .offset-by-seven {
	padding-left:420px
}
.container .offset-by-eight {
	padding-left:480px
}
.container .offset-by-nine {
	padding-left:540px
}
.container .offset-by-ten {
	padding-left:600px
}
.container .offset-by-eleven {
	padding-left:660px
}
.container .offset-by-twelve {
	padding-left:720px
}
.container .offset-by-thirteen {
	padding-left:780px
}
.container .offset-by-fourteen {
	padding-left:840px
}
.container .offset-by-fifteen {
	padding-left:900px
}

@media only screen and (min-width:630px) and (max-width:959px) {
	.container,.list-wrap {
	width:630px
}
#homecontent {
	width:660px
}
.top-fix .container .top-fix-wrap {
	width:650px!important
}
.column.alpha,.columns.alpha {
	margin-left:0;
	margin-right:10px
}
.column.omega,.columns.omega {
	margin-right:0;
	margin-left:10px
}
.top-fix h1 {
	margin-right:20px
}
.top-fix #submenu li {
	margin-right:5px
}
.container .one.column {
	width:28px
}
.container .two.columns {
	width:76px
}
.container .three.columns {
	width:124px
}
.container .four.columns {
	width:172px
}
.container .five.columns {
	width:280px
}
.container .six.columns {
	width:268px
}
.container .seven.columns {
	width:316px
}
.container .eight.columns {
	width:364px
}
.container .nine.columns {
	width:412px
}
.container .ten.columns {
	width:460px
}
.container .eleven.columns {
	width:630px
}
.container .twelve.columns {
	width:556px
}
.container .thirteen.columns {
	width:604px
}
.container .fourteen.columns {
	width:652px
}
.container .fifteen.columns {
	width:700px
}
.container .sixteen.columns {
	width:630px
}
.container .one-third.column {
	width:300px
}
.container .two-thirds.column {
	width:630px
}
.container .offset-by-one {
	padding-left:48px
}
.container .offset-by-two {
	padding-left:96px
}
.container .offset-by-three {
	padding-left:144px
}
.container .offset-by-four {
	padding-left:192px
}
.container .offset-by-five {
	padding-left:240px
}
.container .offset-by-six {
	padding-left:288px
}
.container .offset-by-seven {
	padding-left:336px
}
.container .offset-by-eight {
	padding-left:348px
}
.container .offset-by-nine {
	padding-left:432px
}
.container .offset-by-ten {
	padding-left:480px
}
.container .offset-by-eleven {
	padding-left:528px
}
.container .offset-by-twelve {
	padding-left:576px
}
.container .offset-by-thirteen {
	padding-left:624px
}
.container .offset-by-fourteen {
	padding-left:672px
}
.container .offset-by-fifteen {
	padding-left:720px
}
#wpcc_output {
	margin-left:5px;
	margin-top:9px
}
.links_ued {
	margin-right:0
}
.links_site {
	float:left;
	margin-right:-17px
}
.search_children {
	padding-left:0
}
}
@media only screen and (min-width:480px) and (max-width:629px) {
	.container,#homecontent {
	width:385px
}
.columns,.column {
	margin:0
}
.container .one.column,.container .two.columns,.container .three.columns,.container .four.columns,.container .five.columns,.container .six.columns,.container .seven.columns,.container .eight.columns,.container .nine.columns,.container .ten.columns,.container .eleven.columns,.container .twelve.columns,.container .thirteen.columns,.container .fourteen.columns,.container .fifteen.columns,.container .sixteen.columns,.container .one-third.column,.container .two-thirds.column {
	width:385px;
	margin-right:30px
}
.top-fix h1 {
	margin-right:10px;
	margin-top:11px
}
.menu ul {
	float:left
}
.top-fix #submenu li {
	margin-right:0
}
.header-op .search-form {
	display:none;
	background-color:#212121;
	width:145px;
	position:absolute;
	right:-27px;
	top:45px;
	padding-top:5px
}
.ico-search {
	display:block
}
.header-op .search-form #search {
	width:130px;
	margin:0 0 0 7px
}
#homecontent .two-thirds .img-wrap {
	display:block;
	width:385px;
	overflow:hidden
}
#homecontent .two-thirds a img.wp-post-image {
	height:220px;
	width:385px;
	margin-left:0
}
.search_children {
	padding-left:0
}
.mod_lost_child {
	width:385px
}
.child_pic {
	position:static
}
.info_person {
	padding-left:0
}
}
@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:portrait) {
	.container,#homecontent {
	width:630px
}
.column.alpha,.columns.alpha {
	margin-left:0;
	margin-right:10px
}
.column.omega,.columns.omega {
	margin-right:0;
	margin-left:10px
}
.top-fix h1 {
	margin-right:20px
}
.top-fix #submenu li {
	margin-right:5px
}
.container .one.column {
	width:28px
}
.container .two.columns {
	width:76px
}
.container .three.columns {
	width:124px
}
.container .four.columns {
	width:172px
}
.container .five.columns {
	width:220px
}
.container .six.columns {
	width:268px
}
.container .seven.columns {
	width:316px
}
.container .eight.columns {
	width:364px
}
.container .nine.columns {
	width:412px
}
.container .ten.columns {
	width:460px
}
.container .eleven.columns {
	width:508px
}
.container .twelve.columns {
	width:556px
}
.container .thirteen.columns {
	width:604px
}
.container .fourteen.columns {
	width:652px
}
.container .fifteen.columns {
	width:700px
}
.container .sixteen.columns {
	width:630px
}
.container .one-third.column {
	width:300px
}
.container .two-thirds.column {
	width:630px;
	margin-right:85px
}
.container .offset-by-one {
	padding-left:48px
}
.container .offset-by-two {
	padding-left:96px
}
.container .offset-by-three {
	padding-left:144px
}
.container .offset-by-four {
	padding-left:192px
}
.container .offset-by-five {
	padding-left:240px
}
.container .offset-by-six {
	padding-left:288px
}
.container .offset-by-seven {
	padding-left:336px
}
.container .offset-by-eight {
	padding-left:348px
}
.container .offset-by-nine {
	padding-left:432px
}
.container .offset-by-ten {
	padding-left:480px
}
.container .offset-by-eleven {
	padding-left:528px
}
.container .offset-by-twelve {
	padding-left:576px
}
.container .offset-by-thirteen {
	padding-left:624px
}
.container .offset-by-fourteen {
	padding-left:672px
}
.container .offset-by-fifteen {
	padding-left:720px
}
#wpcc_output {
	margin-left:5px;
	margin-top:9px
}
.links_ued {
	margin-right:0
}
.links_site {
	float:right;
	margin-right:-17px
}
}
@media only screen and (max-width:384px) {
	.container .sixteen.columns {
	width:100%
}
.top-fix .container .top-fix-wrap {
	width:320px!important
}
.entry img {
	max-width:100%!important
}
.post_latest .author {
	display:inline-block;
	width:80px;
	word-break:keep-all;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis
}
.sidebar_menu {
	display:none
}
.container .five.columns {
	margin-left:5px;
	padding-top:20px
}

.pre-article a:hover,.next-article a:hover {
	filter:alpha(opacity=90);
	-moz-opacity:.9;
	-khtml-opacity:.9;
	opacity:.9;
	background-color:#333
}
.pre-article:hover .numposts,.next-article:hover .numposts {
	background-color:#333
}
.pre-article,.next-article {
	top:auto;
	bottom:5px;
	left:10px
}
.next-article {
	right:10px;
	left:auto
}
textarea#comment {
	height:auto
}
.content_menu .fd {
	position:relative;
	display:block!important;
	margin:15px 0 0;
	padding:10px 0;
	border:1px solid #ccc
}
.content_menu .dividingline {
	display:none
}
.content_menu {
	border:none
}
.content_menu .fd a {
	width:64px
}
.fd::after {
	content:" ";
	position:absolute;
	top:-18px;
	right:65px;
	width:0;
	height:0;
	overflow:hidden;
	font-size:0;
	display:inline-block;
	border-width:9px;
	border-color:transparent transparent #fff transparent;
	border-style:dashed dashed solid dashed
}
.fd::before {
	content:" ";
	position:absolute;
	top:-19px;
	right:65px;
	width:0;
	height:0;
	overflow:hidden;
	font-size:0;
	display:inline-block;
	border-width:9px;
	border-color:transparent transparent #b5b5b5 transparent;
	border-style:dashed dashed solid dashed
}
#footer .container .mod-links,#footer .container .go-top,#footer .top-fix .header {
	display:none
}
#footer .fcred,#footer .icon_links,#footer .footer_menu {
	display:block;
	text-align:center;
	margin-left:0
}
#footer .footer_menu {
	padding:10px 0
}
.container,#homecontent {
	width:300px
}
.container .eleven.columns {
	width:300px
}
.container .two-thirds {
	height:360px!important
}
#homecontent .two-thirds .post {
	height:360px
}
#homecontent .two-thirds {
	margin-bottom:30px;
	width:300px;
	margin-right:0
}
.container .one-third.column,.container .one-third.column .post {
	margin-right:0
}
#homecontent .img-wrap {
	display:block;
	width:300px;
	overflow:hidden
}
#homecontent .two-thirds a img.wp-post-image {
	height:220px;
	width:385px;
	margin-left:-42.5px
}
.post_latest .author .comment-avatar-wrap {
	display:block;
	float:left;
	margin-right:4px
}
.post_latest .author {
	line-height:21px;
	margin-left:0;
	display:block;
	width:270px
}
.post_latest .btitle h2 {
	float:none
}
.post_latest .btitle h2 a {
	color:#333
}
.post_latest .btitle {
	height:95px;
	width:auto!important
}
.post_latest .post-detail {
	position:static;
	padding-top:13px
}
#homecontent .two-thirds .post-category a {
	width:50px
}
.post_latest .post-data a,.post_latest .post-data i {
	color:#666
}
.post_latest .post-data a:hover,.post_latest .post-data a:hover i {
	color:#999
}
#homecontent .post-detail .bg {
	display:none
}
.search_md {
	background-position:top center;
	padding:180px 0 0 0;
	width:300px;
	margin-bottom:40px;
	margin-top:28px
}
.search_post {
	width:300px
}
.search_post h4 {
	font-size:23px
}
.search_children {
	padding-left:0
}
.error404 .mod_lost_child,.error404 .mod_lost_child_little {
	width:300px
}
.mod_lost_child .hd {
	height:auto!important;
	padding-bottom:20px!important
}
.mod_lost_child .child_info .child_pic {
	position:static!important;
	padding:0!important
}
.error404 .mod_lost_child .child_info .child_pic a {
	width:300px;
	text-align:left
}
.error404 .mod_lost_child .child_info .info_person {
	padding-left:0;
	min-height:auto
}
.error404 .lost_child_box .hd .other_info {
	width:auto;
	position:static
}
.mod_lost_child .hd .wrong {
	position:static!important
}
.mod_lost_child .ft .side_infos,.mod_lost_child_little .ft .side_infos {
	clear:both;
	text-align:left
}
}@media only screen and (min-width:385px) and (max-width:479px) {
	.container,#homecontent {
	width:385px
}
.sidebar_menu {
	display:none
}
.columns,.column {
	margin:0
}
.container .one.column,.container .two.columns,.container .three.columns,.container .four.columns,.container .five.columns,.container .six.columns,.container .seven.columns,.container .eight.columns,.container .nine.columns,.container .ten.columns,.container .eleven.columns,.container .twelve.columns,.container .thirteen.columns,.container .fourteen.columns,.container .fifteen.columns,.container .one-third.column,.container .two-thirds.column,.container .one-third.column .post {
	width:385px
}
#homecontent .two-thirds {
	width:385px
}
.container .two-thirds.column {
	margin-right:0
}
.one-third a img.attachment-thumbnail {
	margin-left:0
}
.top-fix h1 {
	margin-right:10px;
	margin-top:11px
}
.menu ul {
	float:left
}
.top-fix #submenu li {
	margin-right:0
}
#homecontent .two-thirds .img-wrap {
	display:block;
	width:385px;
	overflow:hidden
}
#homecontent .two-thirds a img.wp-post-image {
	height:220px;
	width:385px;
	margin-left:0
}
.container .two-thirds {
	height:360px!important
}
#homecontent .two-thirds .post {
	height:360px
}
#homecontent .two-thirds {
	margin-bottom:30px;
	width:385px
}
.post_latest .author .comment-avatar-wrap {
	display:block;
	float:left;
	margin-right:4px
}
.post_latest .author {
	line-height:21px;
	margin-left:0;
	display:block;
	width:270px
}
.post_latest .btitle h2 {
	float:none
}
.post_latest .btitle h2 a {
	color:#333
}
.post_latest .btitle {
	height:95px
}
.post_latest .post-detail {
	position:static;
	padding-top:13px
}
#homecontent .two-thirds .post-category a {
	width:50px
}
.post_latest .post-data a,.post_latest .post-data i {
	color:#666
}
.post_latest .post-data a:hover,.post_latest .post-data a:hover i {
	color:#999
}
#homecontent .post-detail .bg {
	display:none
}
.search_md {
	background-position:top center;
	padding:180px 0 0 0;
	width:300px;
	margin-bottom:40px;
	margin-top:28px
}
.search_post {
	width:365px
}
.search_post h4 {
	font-size:24px
}
}
@media only screen and (min-width:479px) and (max-width:629px) {
	.container,#homecontent {
	width:385px
}
.top-fix .container .top-fix-wrap {
	width:402px!important
}
.sidebar_menu {
	display:none
}
.columns,.column {
	margin:0
}
.container .one.column,.container .two.columns,.container .three.columns,.container .four.columns,.container .five.columns,.container .six.columns,.container .seven.columns,.container .eight.columns,.container .nine.columns,.container .ten.columns,.container .eleven.columns,.container .twelve.columns,.container .thirteen.columns,.container .fourteen.columns,.container .fifteen.columns,.container .one-third.column,.container .two-thirds.column,.container .one-third.column .post {
	width:385px
}
#homecontent .two-thirds {
	width:385px
}
.one-third a img.attachment-thumbnail {
	margin-left:0
}
.top-fix h1 {
	margin-right:10px;
	margin-top:11px
}
.menu ul {
	float:left
}
.top-fix #submenu li {
	margin-right:0
}
#homecontent .two-thirds .img-wrap {
	display:block;
	width:385px;
	overflow:hidden
}
#homecontent .two-thirds a img.wp-post-image {
	height:220px;
	width:385px;
	margin-left:0
}
.container .two-thirds {
	height:360px!important
}
#homecontent .two-thirds .post {
	height:360px
}
#homecontent .two-thirds {
	margin-bottom:30px;
	width:385px
}
.post_latest .author .comment-avatar-wrap {
	display:block;
	float:left;
	margin-right:4px
}
.post_latest .author {
	line-height:21px;
	margin-left:0;
	display:block;
	width:270px
}
.post_latest .btitle h2 {
	float:none
}
.post_latest .btitle h2 a {
	color:#333
}
.post_latest .btitle {
	height:95px;
	width:auto!important
}
.post_latest .post-detail {
	position:static;
	padding-top:13px
}
#homecontent .two-thirds .post-category a {
	width:50px
}
.post_latest .post-data a,.post_latest .post-data i {
	color:#666
}
.post_latest .post-data a:hover,.post_latest .post-data a:hover i {
	color:#999
}
#homecontent .post-detail .bg {
	display:none
}
.pre-article a:hover,.next-article a:hover {
	filter:alpha(opacity=90);
	-moz-opacity:.9;
	-khtml-opacity:.9;
	opacity:.9;
	background-color:#333
}
.pre-article:hover .numposts,.next-article:hover .numposts {
	background-color:#333
}
.pre-article,.next-article {
	top:auto;
	bottom:5px;
	left:10px
}
.next-article {
	right:10px;
	left:auto
}
.search_md {
	background-position:top center;
	padding:180px 0 0 0;
	width:385px;
	margin-bottom:40px;
	margin-top:28px
}
.search_post {
	width:365px
}
.search_post h4 {
	font-size:28px;
	margin-bottom:25px
}
#footer .container .mod-links,#footer .container .go-top,#footer .top-fix .header {
	display:none
}
#footer .fcred,#footer .icon_links,#footer .footer_menu {
	display:block;
	text-align:center;
	margin-left:0
}
#footer .footer_menu {
	padding:10px 0
}
.search_children {
	padding-left:0
}
.error404 .mod_lost_child,.error404 .mod_lost_child_little {
	width:385px
}
.mod_lost_child .child_info .child_pic {
	position:static!important;
	padding:0!important
}
.error404 .mod_lost_child .child_info .info_person {
	padding-left:0;
	min-height:auto
}
.error404 .lost_child_box .hd .other_info {
	width:auto
}
.error404 .mod_lost_child .child_info .child_pic a {
	width:385px;
	text-align:left
}
}
@media only screen and (min-width:960px) and (max-width:1080px) {
	.sidebar_menu {
	display:none
}
}
@media only screen and (-webkit-min-device-pixel-ratio:2) {
	.mod_entry .title h1,.mod_entry .title h2,.btitle h2 {
	font-family:Helvetica
}
}
@media only screen and (max-device-width:480px) {
	.mod_entry .title h1,.mod_entry .title h2,.btitle h2 {
	font-family:Helvetica
}
}
@media only screen and (device-width:768px) {
	.mod_entry .title h1,.mod_entry .title h2,.btitle h2 {
	font-family:Helvetica
}
}
@media only screen and (min-device-width:481px) and (max-device-width:1024px) and (orientation:portrait) {
	.mod_entry .title h1,.mod_entry .title h2,.btitle h2 {
	font-family:Helvetica
}
}
@media only screen and (min-device-width:481px) and (max-device-width:1024px) and (orientation:landscape) {
	.mod_entry .title h1,.mod_entry .title h2,.btitle h2 {
	font-family:Helvetica
}
}.container:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}
.clearfix:before,.clearfix:after,.row:before,.row:after {
	content:'\0020';
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0
}
.row:after,.clearfix:after {
	clear:both
}
.row,.clearfix {
	zoom:1
}
.clear {
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0
}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min--moz-device-pixel-ratio:1.5),only screen and (-o-min-device-pixel-ratio:3/2),only screen and (min-device-pixel-ratio:1.5) {
.top-fix {
	background-size:320px 3px
}
.top-fix h1 {
	margin-top:12px;
}
.logo {
	background-image:url(../images/logo@2x.png);
	background-size:95px 23px;
}
.top-fix .menu_control a {
	background-image:url(../images/menu_control@2x.png);
	background-size:21px 20px
}
.top-fix .menu_control_h a {
	background-image:url(../images/menu_control_h@2x.png);
	background-size:21px 20px
}
}
#CssGaga {
	content:"20130704113703,255"
}