
<% include /public/header.html %>

<link rel="stylesheet" type="text/css" href="/css/jquery.snippet.css">
<!--  内容开始  -->
<div class="container">
    <!-- 点赞功能 -->
    <div class="sidebar_menu">
        <!-- like button -->
        <div class="statistics isux-like-box">
            <a href="javascript:;" data-url="/addPraise?id=<%= posts._id %>" class="isux-like-btn">
                <i class="iconfont" title="已有点赞数" style="font-size:28px;">&#xe644;</i>
                <span class="rate"><%= posts.addPraise %></span>
            </a>
        </div>
        <div class="separator"></div>
        <!-- 分类 -->
        <div class="statistics share">
            <a href="javascript:;">
                <i class="iconfont" title="文章所属分类为">&#xe634;</i>
                <span class="share-count" style="font-size:18px;"><%= posts.classify %></span>
            </a>
        </div>
        <div class="separator"></div>
        <div class="statistics share">
            <a href="javascript:;">
                <i class="iconfont" title="此文章的总浏览量为">&#xe63e;</i>
                <span class="rate"><%= viewCount %></span>
            </a>
        </div>
    </div>
    <!-- end -->
	<div class="eleven columns mod_entry">
        <div id="content">
            <!-- 文章详细内容 -->
            <article class="post">
                <div class="title">
                    <h1>
                        <a href="javascript:;" rel="bookmark"><%= posts.title %></a>
                    </h1>
                </div>
                <div class="postmeta">
                	<div class="comment-avatar-wrap" tabindex="-1">
                        <img src="<%= posts.authorIcon %>" width="40" height="40" alt="author:<%= posts.author %>" class="wp-user-avatar wp-user-avatar-40 align avatar avatar avatar-40 photo">
                    </div>
                    <div class="postmeta-main">
                        <span class="post_author">
                        	Author:<%= posts.author %>
                        </span>
                        <span class="post_time"><%= locals.moment(posts.created).format("YYYY-MM-DD") %></span>
                    </div>
                </div>
                <div class="thumbnail-b">
                    <img width="630" height="360" src="/<%= posts.imgUrl %>" class="attachment-large wp-post-image" alt="<%= posts.title %>">
                </div>
				<!-- content-->
                <div class="entry">
                    <%- posts.Content %>
                    <p>
						<span style="font-size:14px;">转载请注明来自</span>
                        <span style="background-color:#FFFFFF;color:#000000;font-size:14px;">
                            <strong>520UED</strong>
                        </span> 
                        <a href="/article/<%= posts._id %>" title="<%= posts.title %>" target="_blank">
                            <strong style="font-size:14px;">http://www.520ued.com/article/<%= posts._id %></strong>
                        </a> 
					</p>
                    <div class="clear"></div>
                </div>
                <!-- content-->
            </article>
            <!-- END -->
            <!-- 点赞功能 -->
            <div class="content_menu">
                <div class="statistics isux-like-box">
                    <a href="javascript:;" data-url="/addPraise?id=<%= posts._id %>" class="isux-like-btn">
                        <i class="iconfont" title="已有点赞数" style="font-size:28px;">&#xe644;</i>
                        <span class="rate">&nbsp;<%= posts.addPraise %></span>
                    </a>
                </div>
                <div class="statistics share">
                    <a href="javascript:;">
                        <i class="iconfont" title="文章所属分类为">&#xe634;</i>
                        <span class="share-count" style="font-size:22px;">&nbsp;<%= posts.classify %></span>
                    </a>
                </div>
                <div class="statistics share">
                    <a href="javascript:;">
                        <i class="iconfont" title="此文章的总浏览量为">&#xe63e;</i>
                        <span class="rate">&nbsp;<%= viewCount %></span>
                    </a>
                </div>
            </div>
            <!-- END -->
            <!-- disqus 评论列表 -->
            <% include disqus.html %>       
            <!-- end -->
        </div>
    </div>
    <!-- 侧栏 -->
    <% include siderbar.html %>

    <div class="clear"></div>
</div>
<script type="text/javascript">
    var UE_CONFIG = {
        page_type : "article_page"
    };
</script>

<% include /public/footer.html %>