
<style type="text/css">
	#cloud_tag{width:630px;height:500px;position:relative;}
	#cloud_tag li{position:absolute;top:0px;left:0px;list-style: none;font-weight:bold;}
</style>
<!--  内容开始  -->
<div class="container">
	<div class="eleven columns mod_entry">
        <div id="content" style="min-height:500px;">
        	<ul id="cloud_tag" class="clearfix">
				<% posts.forEach(function(data){ %>
					<li>
						<a href='/tags/<%= data.keywords %>' title='<%= data.keywords %>'><%= data.keywords %></a>
					</li>
				<% }) %>
			</ul>
        </div>
    </div>   
    
	<div class="clear"></div>
</div>
<!--  内容结束  -->
<script type="text/javascript">
    var UE_CONFIG = {
        page_type : "cloudTags_page"
    };
</script>
<script type="text/javascript" src="/js/cloud.js"></script>