<!-- 详情评论加载给你代码 -->
<% include comment.html %>
<!-- end -->
<div id="commentsbox">
    <!-- <h3 id="comments">留言区：</h3> -->
    <ol class="commentlist">

        <% commentList.forEach(function(posts) { %>
        <li class="comment even thread-even depth-1">
            <div class="comment-body">
                <div class="comment-author">
                    <div class="comment-avatar-wrap">
                        <img alt="<%= posts.username %>" src="<%= posts.icon %>" class="avatar avatar-50 photo" height="50" width="50">
                    </div>
                    <cite class="fn">
                        <% if(posts.website!=""){ %>
                            <a href="<%= posts.website %>" target="_blank" rel="external nofollow" class="url"><%= posts.username %></a>
                        <% }else{ %>
                            <a href="javascript:;" target="_blank" rel="external nofollow" class="url"><%= posts.username %></a>
                        <% } %>
                    </cite>
                </div>
                <div class="comment-text">
                    <p><%= posts.comment %></p>
                </div>

                <div class="comment-meta commentmetadata">
                    <a href="javascript:;"><%= locals.moment(posts.created).format("YYYY-MM-DD") %></a>
                </div>
            </div>
            <% if(posts.reply!="") {%>     
                <% posts.reply.forEach(function(replyPost){ %>
                <ol class="commentlist">
                    <li style="margin:15px 0 0 30px;border-bottom:none;" class="comment even thread-even depth-1">        
                        <div class="comment-body">            
                            <div class="comment-author vcard">                
                                <div class="comment-avatar-wrap">                    
                                    <img src="<%= replyPost.icon %>" alt="<%= replyPost.author %>@<%= posts.username %>" title="<%= replyPost.author %>@<%= posts.username %>" class="avatar avatar-50 photo" height="50" width="50">
                                </div>                
                                <cite class="fn">                    
                                    <a href="http://www.520ued.com" rel="external nofollow" style="color:red" class="url"><%= replyPost.author %>@<%= posts.username %></a>                
                                </cite>            
                            </div>            
                            <div class="comment-text">
                                <p><%= replyPost.contents %></p>
                            </div>            
                            <div class="comment-meta commentmetadata">                
                                <a href="javascript:;"><%= locals.moment(replyPost.replyTime).format("YYYY-MM-DD") %></a>            
                            </div>        
                        </div>    
                    </li>
                </ol>
                <% }) %>
            <% } %>
        </li>
        <% }) %>
    </ol>
    
    <div id="comment-form">
        <div id="respond">
            <h3>留言</h3>
            <form action="/article/doaddComment" method="post" id="commentform" enctype="multipart/form-data">

                <input type="text" name="username" id="author" size="22" default="姓名（必填）">

                <input type="text" name="email" id="email" default="Email（必填）" size="22">

                <input type="text" name="website" id="commenturl" default="网址必须包含http://" size="22">

                <textarea name="content" id="comment" cols="100%" rows="10" default="请留下你的足迹"></textarea>


                <input type="hidden" name="artid" value="<%= posts._id %>">
                <input type="hidden" name="arttil" value="<%= posts.title %>">
                <input type='hidden' name='_csrf' id="_csrf" value='<%= csrf %>' />
                
                <input name="submit" type="submit" id="commentSubmit" value="发布">

            </form>
        </div>
    </div>
</div>