
<!--  内容开始  -->
<div class="container">
	<div class="eleven columns mod_entry">
        <div id="content">
            <article class="post">
                <div class="title">
                    <h1>
                        <a href="http://www.520ued.com/index/join.html" rel="bookmark" title="前端开发招聘">前端招聘</a>
                    </h1>
                </div>
                <div class="postmeta">
                    <div class="comment-avatar-wrap" tabindex="-1">
                        <img src="/images/owen.jpg" width="40" height="40" title="owen hong" alt="owen hong" class="wp-user-avatar wp-user-avatar-40 align avatar avatar avatar-40 photo">
                    </div>
                    <div class="postmeta-main">
                        <span class="post_author">小欧(owen hong)</span>
                        <span class="post_time">2014-05-22</span>
                    </div>
                </div>
                <div class="thumbnail-b">
                    <a href="javascript:;">
                        <img width="630" height="360" src="/images/job.jpg" class="attachment-large wp-post-image" alt="前端招聘">
                    </a>
                </div>
                <div class="entry">
                    <h3>DX.com外贸电商诚聘前端开发工程师多名（深圳)</h3><span>2014-07-30发布</span>
                    <p style="color:#333;font-family: 'STHeiti',\5FAE\8F6F\96C5\9ED1;">1、2年以上前端开发经验。</p>
                    <p style="color:#333;font-family: 'STHeiti',\5FAE\8F6F\96C5\9ED1;">2、掌握XHTML/CSS/CSS3/HTML5 代码实现做到兼容主流浏览器，能够掌握Bootstrap更加。</p>
                    <p style="color:#333;font-family: 'STHeiti',\5FAE\8F6F\96C5\9ED1;">3、熟练掌握Jquery或者任何一个JS框架。</p>
                    <p style="color:#333;font-family: 'STHeiti',\5FAE\8F6F\96C5\9ED1;">4、能够和美工很好的沟通衔接工作。熟练使用(PS,FW)软件进行切图。</p>
                    <p style="color:#333;font-family: 'STHeiti',\5FAE\8F6F\96C5\9ED1;">5、有大型电子商务开发经验优先考虑。</p>
                    <p style="color:#333;font-family: 'STHeiti',\5FAE\8F6F\96C5\9ED1;">6、对待工作细心，严谨，负责。</p>
                    <p>学历不限</p>
                    <p>公司网址：<b style="font-weight:bold;">http://www.dx.com/</b></p>
                    <p>维基百科：<b style="font-weight:bold;">http://zh.wikipedia.org/wiki/Dx.com_Holdings</b></p>
                    <p style="font-weight:bold;">
                        满足以上条件者，请发简历至
                        <a class="c_weak" title="laohonghzy@163.com" href="mailto:520UED.com@gmail.com">520UED.com@gmail.com</a>
                    </p>

                    <hr style="margin-top:30px;" />

                    <h3>网易招聘前端开发工程师（北京市 )</h3><span>2014-07-30发布</span>
                    <p style="color:#333;font-family: 'STHeiti',\5FAE\8F6F\96C5\9ED1;">1、1年以上工作经验。</p>
                    <p style="color:#333;font-family: 'STHeiti',\5FAE\8F6F\96C5\9ED1;">2、精通JavaScript、css，熟练使用常用的前端类库。 </p>
                    <p style="color:#333;font-family: 'STHeiti',\5FAE\8F6F\96C5\9ED1;">3、熟练掌握Jquery或者任何一个JS框架。</p>
                    <p style="color:#333;font-family: 'STHeiti',\5FAE\8F6F\96C5\9ED1;">4、书写代码逻辑清晰，扩展性与维护性好。</p>
                    <p style="color:#333;font-family: 'STHeiti',\5FAE\8F6F\96C5\9ED1;">5、熟悉常用代码管理工具，linux操作环境。</p>
                    <p style="color:#333;font-family: 'STHeiti',\5FAE\8F6F\96C5\9ED1;">6、为人诚实正直，做事认真负责，积极主动，具备良好的沟通能力与学习能力。</p>
                    <p style="font-weight:bold;">
                        满足以上条件者，请发简历至
                        <a class="c_weak" title="neteasehr_bj@188.com" href="neteasehr_bj@188.com">neteasehr_bj@188.com</a>
                    </p>

                    <hr style="margin-top:30px;" />


                    <h3>腾讯-云平台设计中心招聘网站重构2名主要负责腾讯云（深圳)</h3><span>2014-07-28发布</span>
                    <p style="color:#333;font-family: 'STHeiti',\5FAE\8F6F\96C5\9ED1;">1、3年以前前端经验。</p>
                    <p style="color:#333;font-family: 'STHeiti',\5FAE\8F6F\96C5\9ED1;">2、精通html css，熟练使用原生js。</p>
                    <p style="color:#333;font-family: 'STHeiti',\5FAE\8F6F\96C5\9ED1;">3、熟练使用常用调试工具。</p>
                    <p style="color:#333;font-family: 'STHeiti',\5FAE\8F6F\96C5\9ED1;">4、对seo、信息无障碍、移动端开发有经验者优先。</p>
                    <p style="color:#333;font-family: 'STHeiti',\5FAE\8F6F\96C5\9ED1;font-weight:bold;">5、人靠谱。</p>
                    <p>学历大专以上。</p>
                    <p style="font-weight:bold;">
                        满足以上条件者，请发简历至
                        <a class="c_weak" title="laohonghzy@163.com" href="mailto:520UED.com@gmail.com">rockywen@tencent.com</a>
                        <br />
                        <span>QQ：858618768</span>
                    </p>

                    <hr style="margin-top:30px;" />

                    <h3 style="color:#ccc;">上市半年获1.5亿投资，飞飞商城聘前端高级工程师(广州) （已完毕）</h3>
                    <p style="color:#333;font-family: 'STHeiti',\5FAE\8F6F\96C5\9ED1;">2014-05-22发布</p>
                    <p style="color:#333;font-family: 'STHeiti',\5FAE\8F6F\96C5\9ED1;">1、了解模块化 / 工程化开发，如 RequireJS / Sea.js。</p>
                    <p style="color:#333;font-family: 'STHeiti',\5FAE\8F6F\96C5\9ED1;">2、了解 MVC，AngularJS / Knockout / Backbone / Ember.js
。</p>
                    <p style="color:#333;font-family: 'STHeiti',\5FAE\8F6F\96C5\9ED1;">3、了解常见 JavaScript 设计模式。</p>
                    <p style="color:#333;font-family: 'STHeiti',\5FAE\8F6F\96C5\9ED1;">4、了解响应式布局。</p>
                    <p style="color:#333;font-family: 'STHeiti',\5FAE\8F6F\96C5\9ED1;">5、了解 iOS、Andriod 等常见移动设备浏览器的特性，有开发经验更佳。</p>
                    <p style="color:#333;font-family: 'STHeiti',\5FAE\8F6F\96C5\9ED1;">6、熟练使用 Git 等版本控制系统。</p>
    

                    <p style="font-weight:bold;margin-top:15px;">
                        如果你是一位资深极客，有和我们一样的梦想与激情，请把简历发至：
                        <a class="c_weak" title="laohonghzy@163.com" href="mailto:m2czhaopin@corp.globalmarket.com">m2czhaopin@corp.globalmarket.com</a>
                    </p>
                    <p>
                    环球市场主页: www.globalmarket.com
                    <br />
                    环球市场招聘网站：career.globalmarket.com
                    <br />
                    飞飞商城网站：www.feifei.com
                    </p>

                    
                    <hr style="margin-top:30px;" />
                    
                	<h3 style="color:#ccc;">国内知名外贸电商诚聘前端开发工程师（深圳）（已完毕）</h3>
                    <p style="color:#333;font-family: 'STHeiti',\5FAE\8F6F\96C5\9ED1;">1、2年以上前端开发经验。</p>
                    <p style="color:#333;font-family: 'STHeiti',\5FAE\8F6F\96C5\9ED1;">2、掌握XHTML/CSS/CSS3/HTML5 代码实现做到兼容主流浏览器，能够掌握Bootstrap更加。</p>
                    <p style="color:#333;font-family: 'STHeiti',\5FAE\8F6F\96C5\9ED1;">3、熟练掌握Jquery或者任何一个JS框架。</p>
                    <p style="color:#333;font-family: 'STHeiti',\5FAE\8F6F\96C5\9ED1;">4、能够和美工很好的沟通衔接工作。熟练使用(PS,FW)软件进行切图。</p>
                    <p style="color:#333;font-family: 'STHeiti',\5FAE\8F6F\96C5\9ED1;">5、有大型电子商务开发经验优先考虑。</p>
                    <p style="color:#333;font-family: 'STHeiti',\5FAE\8F6F\96C5\9ED1;">6、对待工作细心，严谨，负责。</p>
                	<p style="font-weight:bold;">
                        满足以上条件者，请发简历至
                        <a class="c_weak" title="laohonghzy@163.com" href="mailto:520UED.com@gmail.com">520UED.com@gmail.com</a>
                    </p>


                    <h3 style="margin-top:50px;">欢迎企业踊跃投稿，如有招聘信息，请发到我的邮箱。</h3>
                </div>
            </article>

            <!-- disqus 评论列表 -->
            <% include disqus.html %>       
            <!-- end -->
        </div>
    </div>
    
	<div class="clear"></div>
</div>
<!--  内容结束  -->