<!--  主体区域开始  -->
<div class="container">
    <div class="list-wrap">
        <!-- <div class="subtitle">
            <h3>分类：用户研究</h3>
        </div> -->
        <div id="homecontent" class="clearfix">
        	<% if(posts!=="") { %>
                <% posts.forEach(function(post) { %>
		            <div class="one-third column">
		                <article class="post">
		                    <a href="/article/<%= post._id %>" class="img-wrap">
		                        <img width="385" height="220" src="<%= post.imgUrl %>" class="attachment-thumbnail wp-post-image" alt="<%= post.title %>">
		                    </a>
		                    <div class="post-detail ">
		                        <div class="btitle">
		                            <span class="author">
		                                <span class="comment-avatar-wrap" tabindex="-1">
		                                    <img src="<%= post.authorIcon %>" width="20" height="20" alt="author:<%= post.author %>">
		                                </span>
		                                <span><%= locals.moment(post.created).format("YYYY-MM-DD") %></span>
		                            </span>
		                            <h2>
		                                <a href="/article/<%= post._id %>" rel="bookmark"><%= post.title %></a>
		                            </h2>
		                        </div>
		                        <div class="post-data fonts">
		                            <a href="javascript:;" class="addPraise" data-url="/addPraise?id=<%= post._id %>">
		                                <i class="iconfont" title="已有点赞数">&#xe644;</i>
		                                <span><%= post.addPraise %></span>
		                            </a>
		                            <a href="/category/<%= post.classify %>">
		                            	<i class="iconfont" title="文章所属分类为">&#xe634;</i>
		                            	<span><%= post.classify %></span>
		                            </a>
		                            <a href="javascript::">
		                            	<i class="iconfont" title="此文章的总浏览量为">&#xe63e;</i>
		                            	<span><%= post.clickCount %></span>
		                            </a>
		                        </div>
		                    </div>
		                </article>
		            </div>
		        <% }) %>
			<% } %>
        </div>
        <nav id="page-nav" style="display: none; ">
            <a href="javascript:;"></a>
        </nav>
    </div>

    <div id="infscr-loading" style="display:none;">
    	<img alt="Loading..." src="/images/loadding.gif">
    	<span></span>
    </div>
    <div class="clear"></div>
</div>
<!--  主体区域结束  -->
<script>
	var UE_CONFIG = {
        page_type : "index_page"
    };
</script>