
<!--  主体区域开始  -->
<div class="container">
    <div class="list-wrap">
	

    	<% if(pageType==="分类页面"){ %>
        <div class="subtitle">
            <h3>分类：<%= classify %></h3>
        </div>
        <% }else if(pageType==="tag页面"){ %>
		<div class="subtitle">
            <h3>Tags：<%= classify %></h3>
        </div>
        <% } %>

        <div id="homecontent" class="clearfix">
        	<% if(posts!="") { %>
                <% posts.forEach(function(post) { %>
		            <div class="one-third column">
		                <article class="post">
		                    <a href="/article/<%= post._id %>" class="img-wrap">
		                        <img width="385" height="220" src="/<%= post.imgUrl %>" class="attachment-thumbnail wp-post-image" alt="<%= post.title %>">
		                    </a>
		                    <div class="post-detail ">
		                        <div class="btitle">
		                            <span class="author">
		                                <span class="comment-avatar-wrap" tabindex="-1">
		                                    <img src="<%= post.authorIcon %>" width="20" height="20" title="<%= post.author %>" alt="作者<%= post.author %>头像">
		                                </span>
		                                <%= locals.moment(post.created).format("YYYY-MM-DD") %>
		                            </span>
		                            <h2>
		                                <a href="/article/<%= post._id %>" rel="bookmark"><%= post.title %></a>
		                            </h2>
		                        </div>
		                        <div class="post-data fonts">
		                            <a href="javascript:;" class="addPraise" data-url="/addPraise?id=<%= post._id %>" title="点赞">
		                                <i class="iconfont">&#xe644;</i>
		                                <span><%= post.addPraise %></span>
		                            </a>
		                            <a href="/category/<%= post.classify %>" title="查看<%= post.classify %>中的全部文章">
		                            	<i class="iconfont">&#xe634;</i>
		                            	<span><%= post.classify %></span>
		                            </a>
		                            <a href="javascript::" title="浏览量">
		                            	<i class="iconfont">&#xe63e;</i>
		                            	<span><%= post.clickCount %></span>
		                            </a>
		                        </div>
		                    </div>
		                </article>
		            </div>
		        <% }) %>
            <% }else{ %>
				<div class="search_md">
					<div class="search_post">
						<h4>别难过，没有你要找的东西！</h4>
						<p>请重新输入关键字搜索，或是<a href="/">回到首页</a>浏览！</p>
					</div>
				</div>
			<% } %>
        </div>
        <nav id="page-nav" style="display: none; ">
            <a href="javascript:;"></a>
        </nav>
    </div>
    <div class="clear"></div>
</div>
<!--  主体区域结束  -->
<script type="text/javascript">
	var UE_CONFIG = {
        page_type : "search_list_page"
    };
</script>