<div id="go-top" class="go-top">
    <a href="#"><i class="iconfont" title="返回顶部">&#xe69e;</i></a>
</div>
<!--  页脚开始  -->
<div id="footer">
    <div class="container">
        <div class="mod-links clear-fix">
            <div class="links_site">
                <h4>友情链接：</h4>
                <ul class="xoxo blogroll">
                    <% locals.LinkPosts.forEach(function(post, index) { %>
                    <li>
                        <a href="<%= post.links %>" rel="acquaintance" title="<%= post.keywords %>" target="_blank"><%= post.keywords %></a>
                    </li>
                    <% }) %>
                </ul>
            </div>
        </div>
        <div class="fcred">
            Copyright © 2012-2014
            <a href="http://www.520ued.com/">520UED</a>
            All Rights Reserved <a href="http://www.miitbeian.gov.cn/" rel="external nofollow">粤ICP备13067692号-1</a>
            <span class="footer_menu">
                <a href="/">Home</a>
                |
                <a href="mailto:520UED.com@gmail.com">Contact me</a>
                |
                <a href="/cloudTags">标签云</a>
                |
            </span>
            <span class="icon_links" style="margin-left:10px;">
                <a href="/rss" target="_blank">
                    <i class="iconfont" title="订阅本站RSS">&#xf003f;</i>
                </a>
            </span>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!--  页脚结束-->

<script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/js/jquery.snippet.min.js"></script>
<script type="text/javascript" src="/js/global.js"></script>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F06061d7c17c768b4f988dbbddc71b863' type='text/javascript'%3E%3C/script%3E"));
</script>

</body>
</html>